<footer class="footer mt-auto py-3 bg-dark fixed-bottom">
    <div class="container">
        <div class="text-center text-light">
            <p class="mb-0">Copyright - <a href="https://github.com/yourusername"
                    class="link-light">Camilo Monsalve M | David Lopera</a>
        </div>
    </div>
</footer>