<header class="bg-dark py-3 mb-4">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <h1 class="text-light fw-bold m-0">Pokeneas</h1>
        </div>
        <nav>
            <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-light" href="/pokenea">Visualizar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/api/pokenea">API</a>
            </li>
            </ul>
        </nav>
        </div>
    </div>
</header>